<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/styleLogin.css}"/>
</head>
<body>
<div class="container">
  <div class="login-box">
    <div class="login-left">
      <div class="featured-image">
        <img th:src="@{/static/img/1.png}" alt="Be Verified">
      </div>
      <p class="title">Be Verified</p>
      <p class="subtitle">Join experienced Designers on this platform.</p>
    </div>
    <div class="login-right">
      <div th:if="${registerSuccess != null}">
        <p style="color: green; font-size: 1.5rem; text-align: center" th:text="${registerSuccess}"></p>
      </div>
      <h2>Register</h2>
      <form th:action="@{/register}" method="post">
        <div class="input-group">
          <input type="text" name="username" placeholder="Enter Username" class="input-field" required>
        </div>
        <div th:if="${duplicateUsername != null}">
          <p style="color: red; font-size: 1.25rem; text-align: center" th:text="${duplicateUsername}"></p>
        </div>
        <div class="input-group">
          <input type="password" name="password" placeholder="Enter Password" class="input-field" required>
        </div>
        <div class="input-group">
          <input type="text" name="fullname" placeholder="Enter Fullname" class="input-field" required>
        </div>
        <div class="input-group-horizontal">
          <input type="email" name="email" placeholder="Enter Email" class="input-field half-width" required>
          <input type="tel" name="phone" placeholder="Enter Phone" class="input-field half-width" required>
        </div>
        <div class="input-group">
          <input type="text" name="address" placeholder="Enter Address" class="input-field" required>
        </div>
        <button type="submit" class="btn-login">Register</button>
        <a th:href="@{/customer}" class="btn-back-home">Back to Home</a>
      </form>
      <p class="signup">You have an account? <a th:href="@{/login}">Login Now</a></p>
    </div>
  </div>
</div>
</body>
</html>